<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>metacorps</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1><i><a href="/">metacorps</a></i></h1>
        <h2>Tools for critical metaphor analysis over corpora</h2>
        <a href="{{url_for('facet', project_id=project['id'], facet_word=facet['word'])}}#{{instance_idx|string}}"><i>back to facet view</i></a>
        {% if instance_idx > 0 %}
          |
          <i><a href="{{url_for('edit_instance', project_id=project['id'], facet_word=facet['word'], instance_idx=instance_idx-1)}}">previous instance</a></i>
        {% endif %}
        {% if instance_idx + 1 < total_instances %}
          |
          <i><a href="{{url_for('edit_instance', project_id=project['id'], facet_word=facet['word'], instance_idx=instance_idx+1)}}">next instance</a></i>
        {% endif %}
        <hr>

        <h3>Project: {{ project['name']}}</h3>
        <h4>Facet: {{ facet['word'] }}; Instance {{instance_idx + 1}}/{{total_instances}}</h4>

        <br>

        <h5>Text:</h5>
        <p>
        {{ instance['text'].replace(facet['word'].strip().upper(), '<b style="color:red;font-size:16pt">' + facet['word'].lower()+ '</b>') | safe }}
        </p>

        <p>{{source_doc.program_name}}; {{source_doc.network}}</p>
        <p>Published {{source_doc.start_localtime}}</p>
        <p><a href="{{source_doc.iatv_url}}">Source on IATV</a></p>

        <form action="{{url_for('edit_instance', project_id=project['id'], facet_word=facet['word'], instance_idx=instance_idx)}}"
              method="POST">
          {{ form.csrf_token }}
            <div class="row">
              Firgurative (check for yes)?  {{ form.figurative() }}
            </div>
            <div class="row">
              Include (check for yes)?  {{ form.include() }}
            </div>
            <div class="row">
              {{ form.conceptual_metaphor.label }}: {{ form.conceptual_metaphor(size=60) }}
            </div>
            <div class="row">
              Previously used: <select id="cm_dropdown" name="cm_dropdown"></select>
            </div>
            <div class="row">
              {{ form.subjects.label }}: {{ form.subjects(size=100) }}
            </div>
            <div class="row">
              {{ form.objects.label }}: {{ form.objects(size=100) }}
            </div>
            <div class="row">
              {{form.tense.label}}:
              {% for subfield in form.tense %}
                  <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label }}</td>
                  </tr>
              {% endfor %}
            </div>
            <div class="row">
              {{ form.active_passive.label }}: {{ form.active_passive(size=100) }}
            </div>
            <div class="row">
              {{ form.description(rows='10', cols='120') }}
            </div>
            <div class="row">
              <input type="submit" value="Save">
            </div>
        </form>
    </div>
    <br>
    <script src="/static/js/conceptual_metaphor.js"></script>
</body>
</html>
