<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>metacorps</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1><i>metacorps</i></h1>
        <h2>Tools for critical metaphor analysis over corpora</h2>
        <a href="{{url_for('facet', project_id=project['id'], facet_word=facet['word'])}}"><i>back to facet view</i></a>

        <hr>

        <h3>Project: {{ project['name']}}</h3>
        <h4>Facet: {{ facet['word'] }}</h4>

        <br>

        <h5>Text:</h5>
        <p>
        {{ instance['text'].replace(facet['word'].strip().upper(), '<b style="color:red;font-size:16pt">' + facet['word'].lower()+ '</b>') | safe }}
        </p>

        <form action="{{url_for('edit_instance', project_id=project['id'], facet_word=facet['word'], instance_idx=instance_idx)}}"
              method="POST">
          {{ form.csrf_token }}
            <div class="row">
              Firgurative (check for yes)?  {{ form.figurative() }}
            </div>
            <div class="row">
              Include (check for yes)?  {{ form.include() }}
            </div>
            <div class="row">
              {{ form.conceptual_metaphor.label }}: {{ form.conceptual_metaphor(size=100) }}
            </div>
            <div class="row">
              {{ form.objects.label }}: {{ form.objects(size=100) }}
            </div>
            <div class="row">
              {{ form.subjects.label }}: {{ form.subjects(size=100) }}
            </div>
            <div class="row">
              {{ form.active_passive.label }}: {{ form.active_passive(size=100) }}
            </div>
            <div class="row">
              {{ form.description(rows='10', cols='120') }}
            </div>
            <div class="row">
              <input type="submit" value="Save">
            </div>
        </form>
    </div>
    <br>
</body>
</html>
